/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }
    /* Widen masthead and social buttons to fill body padding */
    .jumbotron {
        margin-top: -20px; /* Offset bottom margin on .navbar */
    }  
}
/* Tablet
------------------------- */
@media (max-width: 768px) {
    body {
        padding-top: 0;
    }
    /* Widen masthead and social buttons to fill body padding */
    .jumbotron {
        padding: 40px 20px;
        margin-top:   -20px; /* Offset bottom margin on .navbar */
        margin-right: -20px;
        margin-left:  -20px;
    }
    #profile-widget.affix {
        position:relative;
        top:0;
    }
    .jumbotron .progress {
        width: auto;
    }
}